:root {
  --white: #ffffff;
  --orange: #fc7614;
  --light-grey: #969fad;
  --dark-blue: #262e38;
  --very-dark-blue: #131518;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--very-dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1.5rem;
}

.card {
  background-image: radial-gradient(circle at center, #232a34 0%, #181e27 100%);
  width: 100%;
  padding: 1.5rem 1.5rem 2rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.heading-lg {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--white);
  margin-bottom: 0.625rem;
}

.heading-md {
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 2px;
}

.body {
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: var(--light-grey);
}

@media screen and (min-width: 376px) {
  body {
    padding: 2rem;
  }
  .card {
    width: 26.5rem;
  }

  .heading-lg {
    font-size: 1.75rem;
  }

  .body {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
